body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:lightblue;
    color: black;
    border: 1px black;
}
.image{
    width: 500;
    height: 500;
    border: 2px solid red;
}
video{
    width: 500;
    height: 500;
    border: 10px green;
}
